<html lang="en">
<head>
  <meta charset="utf-8">
  <title>offset demo</title>
  
  <style>
  div, p, button 
  {
  margin-left: 310px;
  }
  </style>
  
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
</head>
<body ng-app="ShowHideTest">
    
    <div ng-controller="ShowHide as showhide">
        <div style="font-size:40px;">TOP SPACE</div>
        <p id="firstP">Hello</p>
        <p ng-show="showhide.show">{{showhide.test}}</p>
        <p>Function Says: {{showhide.showy}}</p>
        <button ng-click="showhide.showy(1)">Show</button><br>
        <button ng-click="showhide.showy(0)">Hide</button>
        
    </div>
    <script>
   
    angular.module("ShowHideTest",[])
    
        .controller("ShowHide",[function(){
            var thisCtrl = this;
            thisCtrl.test = 400;

            

        

        thisCtrl.showy = function(showVal){
            if(showVal === 1) {
                thisCtrl.show = true;
                return true;
            };
            if(showVal === 0){
                thisCtrl.show = false;
                return false;
            }
    
            };    
        console.log("Hello is: " + thisCtrl.showy);
        
        }])


        // https://scotch.io/tutorials/how-to-use-ngshow-and-nghide
    
    
    
    
    
    
    
    
    
    </script>
 
</body>
</html>