<!DOCTYPE html>
<!--
Ironically, the project has started with a first objective of generating a menu
of buttons using ng-repeat and then being able to register which button has been
clicked. 
-->
<html>
<head>
    <title>SelfEd - Practice Project</title>
    <link rel="SHORTCUT ICON" href=support/teacher.png>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <link rel="stylesheet"  type="text/css" href="support/client-server.css"/>
    
</head>

<body ng-app="imageApp">
    
    <div id="mainMessage" ng-controller="ImageCtrl as imageCtrl">
        <div>This is file: Client-Server_Exp2.html</div><br>     
        <div ng-repeat="List2 in imageCtrl.list2">
            <button ng-click="imageCtrl.listFunction2(List2.file)">{{List2.label}}</button> 
        </div> 
        <div>List2 id# received from clicked button is: <span style="color:red;">{{imageCtrl.funcMsg2}}</span></div>
        <br>
        <div ng-repeat="Images in imageCtrl.images">
            Image ID is: <span style="color:red;">{{Images.id}}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            Image Category is: <span style="color:red;">{{Images.ImageGroup}}</span>
        </div>
    </div>
    
    <script>
        
        angular.module("imageApp",[])
        .controller("ImageCtrl", ['$http', function($http){
            var iCtrlVar = this;
            
            iCtrlVar.mainMsg =  "This is a demonstration using ng-repeat to display a menu of buttons. " +
                                "Upon clicking a button, the button's ID is sent back to the controller for processing.";
            
            iCtrlVar.list2 = [  {id:6, file:"support/imageGroup6.html", label:"button 6"},
                                {id:7, file:"support/imageGroup7.html", label:"button 7"},
                                {id:8, file:"support/imageGroup8.html", label:"button 8"},
                                {id:9, file:"support/imageGroup9.html", label:"button 9"},
                                {id:10, file:"support/imageGroup10.html", label:"button 10"}];
            
            iCtrlVar.listFunction2 = function(btnClicked){
                iCtrlVar.funcMsg2 = btnClicked;
            }
            
            iCtrlVar.images = [];
            $http.get('/api/image').then(function(response) {
                iCtrlVar.images = response.data;
            }, function(errResponse) {
                console.error('Error while fetching images');
            });
            
        }]);
         
    </script>
    
</body>
</html>
