<!DOCTYPE html>
<!--
This file is a member of SelfEd: < SelfEd-Angular-Directives-With-Link-Keyword >
-->
<html>
<head>
    <title>SelfEd Angular Directive w Keyword Link</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="SHORTCUT ICON" href=support/teacher-icon.png>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    
<style>
.testDir1
{
    color:red;
}

.testDir2
{
    font-size: 36px;
}
</style>    

</head>
<body ng-app="DirWithLink">
    <div ng-controller="Ctrl as ctrl">
        <div>{{ctrl.test}}</div>
        <label>
            <input type="checkbox" ng-model="testChk1">Go Red
        </label> 
        <label>
            <input type="checkbox" ng-model="testChk2">Go Big!
        </label> 
        <div ng-class="{testDir1:testChk1, testDir2:testChk2}">Change this text to red</div>
        <button ng-class="{testDir1:testChk1, testDir2:testChk2}" ng-click="ctrl.dirCalc1()">
            Do Calculation           
        </button>
        <div>The calculated value is {{ctrl.calculated1}}</div>
        
        <div custdir></div>
        
        <br><br>
        <div ng-repeat="numarray in ctrl.array1">
            <button ng-click="ctrl.dirCalc2(numarray.num1A, numarray.num1B, $index)">
                Click to multiply
            </button>
            <span>{{numarray.num1A}} * {{numarray.num1B}} and the index is: {{$index}}</span>
            <span ng-show="numarray.show"> &nbsp;&nbsp;&nbsp;Answer is: {{ctrl.arrayCalc}}</span>
        </div>
        <br><br>
        <div ng-repeat="numarray2 in ctrl.array2">
            <button ng-click="ctrl.dirCalc3($index)">Show at this index</button>
            Second array from a service is: {{numarray2.num2A}} and {{numarray2.num2B}} and show status is: {{numarray2.show}}
            <span ng-show="numarray2.show" style="color:red; font-weight:bold;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;And this should only be this record with this clicked button {{ctrl.status.num2A}} {{ctrl.status.num2B}}</span>
        </div>
        
    </div>


<script>

    angular.module("DirWithLink", [])

    .controller("Ctrl", ["ArrayService", "ShowAtIndex" , function(ArrayService, ShowAtIndex){

        var thisCtrl = this;
        thisCtrl.test = "Tesing Control";

        thisCtrl.dirCalc1 = function(){
            thisCtrl.calculated1 = 10 * 234;
        }
        
        thisCtrl.array1 = [
            {num1A:100, num1B:10, show:false},
            {num1A:100, num1B:20, show:false},
            {num1A:100, num1B:30, show:true},
            {num1A:100, num1B:40, show:false},
            {num1A:100, num1B:50, show:false},
        ]
        
        thisCtrl.dirCalc2 = function(numA, numB, index){
            thisCtrl.arrayCalc = numA * numB;
            //thisCtrl.array1[index] = true;
        }
        
        thisCtrl.array2 = ArrayService.rtnArray3;
        
        thisCtrl.dirCalc3 = function(index){
            
            ArrayService.chgStat(index);
            thisCtrl.status = ShowAtIndex.stat(index, ArrayService.rtnArray3);
            
        }
        
    }])


    .directive("custdir", function(){
        return {
            template: 'This is a custom directive test'
        }
    })
 
    
    .factory("ArrayService", [function(){
            var array3 =    [
                                {num2A:200, num2B:10, show:false},
                                {num2A:200, num2B:20, show:false},
                                {num2A:200, num2B:30, show:false},
                                {num2A:200, num2B:40, show:false},
                                {num2A:200, num2B:50, show:false},
                            ]
            return {
                        rtnArray3:  array3,
                        
                        chgStat:    function(index){
                                        for(i = 0; i< array3.length; i++){    
                                            if(i == index)
                                                array3[i].show = true;
                                            else
                                                array3[i].show = false;
                                        }    
                                    }
                    }
    }])

    
    .factory("ShowAtIndex", [function(){
            return {
                stat:   function(index, array){
                            return array[index];
                            //{status:true},
                            //{status:false}
                        }     
            }
    }])
    

</script>
</body>
</html>
